.c-app-list {
  clearfix();
  margin-bottom: $spacing;
  display: table;
  width: 100%;
  li {
    column(1/2, $cycle: 2);
    margin-bottom: $spacing;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
  }
  a {
    text-decoration: none;
    font-size: $smallCopy;
    line-height: $lineHeight;
    &:hover {
      text-decoration: underline;
    }
  }
}
