/*
  @Component: Search bar
  @Creator: Alex Ward
  @Description: Lives in the header-container component and contains the main search bar for the site
*/

.c-search-bar {
  background-color: $primary;
  padding: $spacing*2 0;

  &--container {
    column(1/2);
    position: relative;
  }

  input {
    position: relative;
    span(1);
    height: $spacing*3.6;
  }

  button {
    position: absolute;
    right:0;
  }
}
