// the 'main' layout

main {
  padding: $spacing;
  +above(l) {
    padding: 0;
  }
  .l-primary {
    +above(m) {
      column(2/3);
    }
  }
  .l-secondary {
    +above(m) {
      column(1/3);
    }
  }
}
